In [5]:
from raptor_functions.supervised.datasets import get_data
from raptor_functions.supervised.feature_extraction import  *
from raptor_functions.visualisations import eda_pp, eda_sv

In [8]:
df =  get_data('handheld_data')

In [9]:
df.shape

(3840, 35)

In [10]:
df.head()

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21,sensor_22,sensor_23,sensor_24,Humidity (r.h.),measurement_stage,date_exp,time_elapsed,datetime_exp_start,datetime_exp,filename,result
0,0,Test 24,1,131.938,132.443,177.444,178.157,44.974,44.508,219.374,71.286,159.292,21.965,162.449,36.144,52.439,110.970,124.839,138.676,60.717,273.972,26.905,25.456,189.092,188.708,143.288,142.050,46.07,baseline,21/3/2022,0.00,14:12:54,2022-03-21 14:12:54.000,5 NegTest_3_20220321_14_12.txt,Control
1,0,Test 24,2,133.078,133.972,177.444,178.694,45.131,44.611,219.607,71.927,161.653,21.927,162.290,36.144,52.211,111.181,124.364,141.232,61.096,274.289,27.067,25.536,189.285,188.516,142.874,141.914,46.07,baseline,21/3/2022,0.25,14:12:54,2022-03-21 14:12:54.250,5 NegTest_3_20220321_14_12.txt,Control
2,0,Test 24,3,131.812,132.064,177.622,178.694,45.183,44.663,219.841,72.070,162.130,21.965,162.290,36.190,52.268,111.075,124.364,141.641,61.159,274.289,27.027,25.496,189.285,188.516,143.288,141.914,46.07,baseline,21/3/2022,0.50,14:12:54,2022-03-21 14:12:54.500,5 NegTest_3_20220321_14_12.txt,Control
3,0,Test 24,4,131.059,132.064,177.444,178.694,45.183,44.663,219.607,72.070,161.812,21.927,161.971,36.237,52.211,111.075,124.720,141.914,61.159,274.289,27.067,25.496,189.092,188.516,142.599,141.368,46.07,baseline,21/3/2022,0.75,14:12:54,2022-03-21 14:12:54.750,5 NegTest_3_20220321_14_12.txt,Control
4,0,Test 24,5,131.435,131.938,177.622,178.694,45.131,44.663,219.607,72.286,161.971,22.003,161.971,36.144,52.268,111.075,125.673,142.187,61.286,273.972,26.986,25.456,189.092,188.516,142.187,140.825,46.07,baseline,21/3/2022,1.00,14:12:54,2022-03-21 14:12:55.000,5 NegTest_3_20220321_14_12.txt,Control

In [ ]:
eda_pp(df)

In [ ]:
eda_sv(df, compare=True)